@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}

.container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
}


@keyframes moveBurger {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(15px, 10px) rotate(45deg);

  }
}

@keyframes burgerMove {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(15px, -10px) rotate(-45deg);
  }
}

.hamburger:hover #middle {
  background-color: transparent;
  transition: 1s;
}

.hamburger:hover #top {
  transform-origin: top left;
  animation: moveBurger 1s linear forwards;
}

.hamburger:hover #bottom {
  transform-origin: bottom left;
  animation: burgerMove 1s linear forwards;
}




li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}
a:hover {
  color: ghostwhite;
}
