@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}

main {
  background-color: mediumaquamarine;
  height: 90vh;
  width: 200vh;
  margin: auto;
  display: flex;
  align-items: center;
}

main > div {
  width: 50%;
  margin: auto;
  padding: 10%;
}

main {
  transform: rotate(1.97turn);
}

nav {
  border: 2px solid mediumaquamarine;
  background-color: aquamarine;
  box-shadow: 2px 2px 6px mediumaquamarine;
  border-radius: 5px;
  width: 60%;
  transform: rotate(1.97turn);
}

nav ul{
  list-style: none;
}

nav ul li a{
  font-family: cursive;
  color: navy;
  text-decoration: none;

}

nav h2 {
  padding-left: 4vh
}