@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

img {
  width: 80%;
}

@keyframes go-button {
}

button {
  background-color: ghostwhite;
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  transition: 1s ease-in-out;
  /* cursor: pointer; */
}

button:hover {
  color: ghostwhite;
  background-color: cornflowerblue;
  transition: 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  /* animation-delay: 1s; */
}
